{% extends 'waitestapp/base_site.html' %}
{% load static %}
{% block content %}
<div >
	<div style="padding-right:104px; padding-bottom:20px;">
		<ul class="nav nav-tabs pull-right">		  
		  <li class="active"><a href="/waitapp/scenario/2" data-toggle="tab">Scenario</a></li>		 
		  <li ><a href="/waitapp/results" >Current Input</a></li>
		</ul>
		<br>
	</div>
		<div class="container">

		  <!-- Main component for a primary marketing message or call to action -->
		  <div class="jumbotron">
			<ul class="pager pull-right">
				<li><a class="submitPrev" href="/waitapp/scenario/1" >Previous</a></li>
				<li><a class="submitCatch" href="/waitapp/scenario/3">Next</a></li>
			</ul>
			<div style="display:none;">
				<a id="prevPage" href="/waitapp/scenario/1" style="display:none;"> PREV</a>
				<a id="nextPage" href="/waitapp/scenario/3"  style="display:none;"> NEXT</a>
			</div>
			
			<h3>Scenario: Staffing</h3>
			<p>Extend clinic hours for physicians and staff:</p>
			<br>
			<!-- Rule Form -->
			
			<div id="extension"  style="border:1px solid black;  padding:30px;">
				<label>Extend Clinic Hours:</label>
				<br><br>
				<div style="display:table;">
					<div style="display: table-row;">
						<div class="bs-example" style="display: table-cell;">
							<form id="addForm" class="form-inline"  role="form">								
								<div class="form-group"  style="max-width:120px;">
									<label >Hours Per Day Added</label>
									<input id="hours" name="hours" class="form-control" placeholder="Hours" value="0" style="max-width:115px;">
								</div>
								<div class="form-group"  style="max-width:120px;" >
									<label >Days Extended Per Week</label>
									<input  id="days" name="days" class="form-control" style="max-width:115px;" value="0" placeholder="Days">
								</div>
								<div class="form-group" style="max-width:150px; padding-top:20px;">
								<label>Provider</label>
									<select id="prov" class="form-control" style="max-width:145px;">   
										{% for phys in phys_list %}
										<option>{{ phys }}</option>
										{% endfor %}
										{% for nonphys in non_phys_list %}
										<option>{{ nonphys }}</option>
										{% endfor %}
										
									</select>
								</div>
								<div class="form-group" style="padding-top:40px;">
								<button id="addHours" style="height:30px; line-height:25px;">Submit</button>
								</div>
								<div class="form-group" style="padding-top:40px; padding-left:40px;" id="addconfirm">
								
								</div>
								</form>
						</div>
						<!--
						<div style="display: table-cell;">							
							<button id="extend" class="btn btn-primary" style="margin-top:20px;" >Submit</button>						
						</div>-->
					 </div>
			    </div>
							
							
							
			</div>
			 <br>
			
	<div id="querydiv"  style="border:1px solid black;  padding:30px;">
		<label>Run Simulation with Adjusted Data: &nbsp;&nbsp;&nbsp;&nbsp;</label>
		<button id="recalculate" style="height:30px; line-height:25px;">Recalculate Demand</button>
		<img src="{% static 'img/ajax-loader.gif' %}" style="display: none; position: absolute; right: 50px;" id="imgProgress" />
		<table id="querytable">
		 <tr>
			<td>Doctor</td>
			<td>New Demand (hrs/yr)</td> 
			<td>Old Demand (hrs/yr)</td>
			<td>Demand Change</td>		
			<td>Capacity (hrs/yr)</td>	
			<td>Expected Wait Time</td>
			<td>Wait Time Change</td>			
		 </tr>
		  <tr>
			<td>
				<select id="queryphys"  name="to"  >
					{% for phys in phys_list %}
					<option>{{phys}}</option>
					{% endfor %}
				</select>					
			</td>
			<td><div id="demand" style="text-align:center;">-</div></td>
			<td><div id="olddemand" style="text-align:center;">-</div></td>
			<td><div id="demandchange" style="text-align:center;">-</div></td>
			<td><div id="capacity" style="text-align:center;">-</div></td>
			<td><div id="waittime" style="text-align:center;">-</div></td>
			<td><div id="waittimechange" style="text-align:center;">-</div></td>
		  </tr>
		 </table>	
	</div>
	</div>
</div>
</div>

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

<!-- bootstrap table script -->
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/jquery.tabletojson.min.js' %}"></script>
<!--table functionality and toggle show/hide table script -->
<script language="javascript">
//set table properties


//csrf config for ajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});




//button to reassign
$('#addHours').click( function(e) {
	e.preventDefault()
	var hours = $('#hours').val()
	var days = $('#days').val()
	var prov = $('#prov').val()
	
	
	data =  {'type':'extend','hours': hours, 'prov': prov, 'days':days }
	//alert(JSON.stringify(data));
	
	$.ajax({      		
		  url: "/waitapp/scenario/2/",
		  type: "POST",
		  data : data,       
		  success: function() {	   
		   $('#hours').val('');
			$('#days').val('');
			$('#addconfirm').text('Clinic Hours Extended');
		   
		  }
		});		
}); 



//run simulation with new numbers and  cont rules
$('#recalculate').click( function(e) {
	e.preventDefault()
	$("#imgProgress").show();
	var hours = $('#hours').val()
	var days = $('#hours').val()
	var doc = $('#queryphys option:selected').val()	
	
	//alert(table)
	//alert(table);
		
	$.ajax({      		
		  url: "/waitapp/scenario/2/",
		  type: "POST",
		  data : {'type': 'recalculate', 'doc': doc,'hours':hours, 'days':days},       
		  success: function(data) {	
			$("#imgProgress").hide();		  
		   $('#demand').text(data.dem);  
		   $('#olddemand').text(data.olddem);
		   $('#demandchange').text(data.demc);
		   $('#capacity').text(data.cap);
		   $('#waittime').text(data.wait);  
		   $('#waittimechange').text(data.waitc);
		  }
		});		
});

//get info for another doctor from above simulation
$('#queryphys').on('change', function()  {
	var doc = $('#queryphys option:selected').val()	
	$.ajax({      		
		  url: "?",
		  type: "POST",
		  data : {'type': 'query', 'doc': doc, },       
		  success: function(data) {	   
		   $('#demand').text(data.dem);  
		   $('#olddemand').text(data.olddem);
		   $('#demandchange').text(data.demc);
		   $('#capacity').text(data.cap);
		   $('#waittime').text(data.wait);  
		   $('#waittimechange').text(data.waitc);
		  }
		});		
});
</script>

{% endblock %} 
