{% extends 'waitestapp/base_site.html' %}
{% load static %}
{% block content %}
<div >
	<div style="padding-right:104px; padding-bottom:20px;">
		<ul class="nav nav-tabs pull-right">		  
		  <li class="active"><a href="/waitapp/scenario/1" data-toggle="tab">Scenario</a></li>		 
		  <li ><a href="/waitapp/results" >Current Input</a></li>
		</ul>
		<br>
	</div>
		<div class="container">

		  <!-- Main component for a primary marketing message or call to action -->
		  <div class="jumbotron">
			<ul class="pager pull-right">
				<li><a class="submitPrev" href="/waitapp/results" >Previous</a></li>
				<li><a class="submitCatch" href="/waitapp/scenario/2">Next</a></li>
			</ul>
			<div style="display:none;">
				<a id="prevPage" href="/waitapp/results"  style="display:none;"> PREV</a>
				<a id="nextPage" href="/waitapp/scenario/2"  style="display:none;"> NEXT</a>
			</div>
			
			<h3>Scenario: Patient Assignment</h3>
			<p>Patients Assignment - Reassigning patients to other physicians to reduce panel sizes:</p>
			<br>
			<!-- Rule Form -->
			
			<div id="reassignment"  style="border:1px solid black;  padding:30px;">
			<label>Reassign Patients:</label>
				<table id="queryGrid">
				 <tr>
					
					<td>Gender</td>
					<td>Age Range</td> 
					<td>Conditions</td>					
					<td>Number of Patients</td>
					<td>Reassign From:</td>
					<td>To:</td>
					<td></td>
					<td></td>
				 </tr>
				  <tr>
					<td>
						<select class="queryOption">
							<option>All</option>
							<option>M</option>
							<option>F</option>
						</select>
					</td>
					<td>
						<select class="queryOption" id="ageselect">
							<option title="all" selected>All</option>
							<option title="1" >0-14</option>
							<option title="2">15-24</option>
							<option title="3">24-44</option>
							<option title="4">45-64</option>
							<option title="5">65-74</option>
							<option title="6">75+</option>
						</select>
					</td>				
					<td>
						<select class="queryOption">
							<option>All</option>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3+</option>
						</select>
					</td>					
					<td><input type="text" class="queryOption"></td>
					<td>
						<select class="queryOption"  name="from"  >
							{% for phys in phys_list %}
							<option>{{phys}}</option>
							{% endfor %}
						</select>					
					</td>
					<td>
						<select class="queryOption"  name="to"  >
							{% for phys in phys_list %}
							<option>{{phys}}</option>
							{% endfor %}
						</select>					
					</td>
					<td>
						<button id="reassign" style="height:30px; line-height:25px;">Reassign</button>
					</td>
					<td><div id="numassigned" style="text-align:center;">-</div></td>
					
				  </tr>
				   <tr>
					
					<td></td>
					<td></td> 
					<td></td>					
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><button id="reset" style="height:30px; line-height:25px;float: right">Undo All Changes</button></td>
				 </tr>
				 </table>
			</div>
			 <br>
			
		
		
		
	<div id="querydiv"  style="border:1px solid black;  padding:30px;">
		<label>Run Simulation with Adjusted Data: &nbsp;&nbsp;&nbsp;&nbsp;</label>
		<button id="recalculate" style="height:30px; line-height:25px;">Recalculate Demand</button>
		<img src="{% static 'img/ajax-loader.gif' %}" style="display: none; position: absolute; right: 50px;" id="imgProgress" />
		<table id="querytable">
		 <tr>
			<td>Doctor</td>
			<td>New Demand (hrs/yr)</td> 
			<td>Old Demand (hrs/yr)</td>
			<td>Demand Change</td>		
			<td>Capacity (hrs/yr)</td>	
			<td>Expected Wait Time</td>
			<td>Wait Time Change</td>			
		 </tr>
		  <tr>
			<td>
				<select id="queryphys"  name="to"  >
					{% for phys in phys_list %}
					<option>{{phys}}</option>
					{% endfor %}
				</select>					
			</td>
			<td><div id="demand" style="text-align:center;">-</div></td>
			<td><div id="olddemand" style="text-align:center;">-</div></td>
			<td><div id="demandchange" style="text-align:center;">-</div></td>
			<td><div id="capacity" style="text-align:center;">-</div></td>
			<td><div id="waittime" style="text-align:center;">-</div></td>
			<td><div id="waittimechange" style="text-align:center;">-</div></td>
		  </tr>
		 </table>	
	</div>
	</div>
</div>
</div>

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- script for file upload functionality -->    
<script language="javascript">
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
	  numFiles = input.get(0).files ? input.get(0).files.length : 1,
	  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
	$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
		
		var input = $(this).parents('.input-group').find(':text'),
			log = numFiles > 1 ? numFiles + ' files selected' : label;
		
		if( input.length ) {
			input.val(log);
		} else {
			if( log ) alert(log);
		}
		
	});
});
</script>

<!-- bootstrap table script -->
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/jquery.tabletojson.min.js' %}"></script>
<!--table functionality and toggle show/hide table script -->
<script language="javascript">
//set table properties
$('#contRuleTable').bootstrapTable({
    cache: false,	
	//height: 200,
	striped: true,
	pagination: true,
	pageSize: 50,
	pageList: [10, 25, 50, 100, 200],	
	clickToSelect: true,
});

//csrf config for ajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

/*
//catch page change, convert table data to json, submit to hidden form, then change page
$('.submitPrev').click(function(e) {
	e.preventDefault(); //don't follow link yet
	//var table = $('#contRuleTable').tableToJSON({ ignoreColumns: [0], ignoreHiddenRows: false });
	//table  = JSON.stringify(table);
	//alert(table);
	var defCont = $('#defCont').val();	
	//stick stringified JSON of table into hidden form and submit	
	$.ajax({      
	  url: "?",
	  type: "POST",
      data : { 'type':'none' },       
      success: function() {
	   //alert("data recieved!");
       $( "#prevPage" )[0].click();   
      }
    });
});

//catch page change click, submit data, then return to previous page
//catch page change, convert table data to json, submit to hidden form, then change page
$('.submitCatch').click(function(e) {
	e.preventDefault(); //don't follow link yet
	//var table = $('#contRuleTable').tableToJSON({ ignoreColumns: [0], ignoreHiddenRows: false });
	//table  = JSON.stringify(table);
	//alert(table);
	var defCont = $('#defCont').val();
	//alert(defCont);
	//stick stringified JSON of table into hidden form and submit	
	$.ajax({      
	  url: "?",
	  type: "POST",
      data : {'type':'none'},       
      success: function() {
	   //alert("data recieved!");
       $( "#nextPage" )[0].click();   
      }
    });
});

*/
$('#addContRule').click(function () {
	$('#errors').html(''); //clear errors
	var no_errors = true
	//get form values in array
	var cond_fields = $( ".rule-form" ).serializeArray();
	var check_fields = $( ".Check" ).serializeArray();
	var rule = $( ".rule" ).val();
	//convert checkfields to hash
	var check_hash = {};
	$.each(check_fields, function(i, check) {		
		check_hash[check.name] = (check.value);
		});
	
	//alert(rule);
	//alert(cond_fields);
	var row = "<tr><td></td><td>"
	var count = 0
    $.each(cond_fields, function( i, field ) {
	// if field is one of the checked boxes
		var check_key = field.name.slice(0,-5)
		if (check_key in check_hash) {
		    //check if fields in correct format
			if (check_key == "condrange" || check_key == "agerange") {
				function isNum(element, index, array) {  
					return /^\d+$/.test(element);
					}	
                var input = cond_fields[i].value					
				var arr = input.split("-");
				var passed = arr.every(isNum);
				if (!(passed && arr.length == 2)) {
				 $('#errors').html("<h5 style='color:red;'>Enter range as numbers seperated by dashes</h5>");
				 no_errors = false }
			}
			//insert AND if not the first field
			if (count==0) {var bool = ""}
			else {var bool = " AND"}
			// append field to row
			row = (row + bool + " " + check_hash[check_key] + ":" + cond_fields[i].value);
			count = (count + 1);
			}	
    });
	if (no_errors && check_fields.length > 0) {
		row =  row + "</td><td>" + rule +("</td></tr>")
		
		//alert(row);
		
		$('#contRuleTable').bootstrapTable('destroy')
		$('#contRuleTable').append(row);
		$('#contRuleTable').bootstrapTable({
			cache: false,
			//height: 200,
			striped: true,
			pagination: true,
			pageSize: 50,
			pageList: [10, 25, 50, 100, 200],		
			clickToSelect: true,
		});
		$('#agerange-rule').val('');
		$('#condrange-rule').val('');
		
	}
});

//delete selected rows button
$('#remove-data').click(function () {
	var selects = $('#contRuleTable').bootstrapTable('getSelections');
		states = $.map(selects, function (row) {
			return row.state;
		});

	$('#contRuleTable').bootstrapTable('remove', {
		field: 'state',
		values: states
	});
});

$(document).ready(function(){
 
  $("#tableDiv").hide();
  $("#toggleTable").click(function(){
    var button_name = $("#toggleTable").text();
    if (button_name == "Show Table") {
        $("#toggleTable").text("Hide Table") 
    }
    else {
        $("#toggleTable").text("Show Table")
    }        
    $("#tableDiv").toggle();
  });
});

//button to reassign
$('#reassign').click( function() {
	var age = $('#ageselect option:selected').attr('title');
	
	var qParams= $('.queryOption').map(function() {
				return $(this).val();}).get();	
	var gender = qParams.toString().split(",")[0]	
	var chron_cond = qParams.toString().split(",")[2]
	var number = qParams.toString().split(",")[3]
	var from = qParams.toString().split(",")[4]
	var to = qParams.toString().split(",")[5]
	data =  {'type':'reassign','age': age, 'chron': chron_cond, 'gender':gender, 'number':number, 'from':from, 'to':to}
	
	$.ajax({      		
		  url: "?",
		  type: "POST",
		  data : data,       
		  success: function(data) {	   
		   $('#numassigned').text(data.num);  
		   ;
		  }
		});		
});


// function to undo panel changes
$('#reset').click( function() {
	
	data =  {'type':'reset'}
	
	$.ajax({      		
		  url: "?",
		  type: "POST",
		  data : data,       
		  success: function(data) {	   
		   $('#numassigned').text("Panels reset");  
		   ;
		  }
		});		
});



//run simulation with new numbers and  cont rules
$('#recalculate').click( function() {
	$("#imgProgress").show();
	
	var doc = $('#queryphys option:selected').val()	
	var table = $('#contRuleTable').tableToJSON({ ignoreColumns: [0], ignoreHiddenRows: false });
	table  = JSON.stringify(table);
	//alert(table)
	//alert(table);
	var defCont = $('#defCont').val();	
	$.ajax({      		
		  url: "?",
		  type: "POST",
		  data : {'type': 'recalculate', 'doc': doc},       
		  success: function(data) {	
			$("#imgProgress").hide();		  
		   $('#demand').text(data.dem);  
		   $('#olddemand').text(data.olddem);
		   $('#demandchange').text(data.demc);
		   $('#capacity').text(data.cap);
		   $('#waittime').text(data.wait);  
		   $('#waittimechange').text(data.waitc);
		  }
		});		
});

//get info for another doctor from above simulation
$('#queryphys').on('change', function()  {
	var doc = $('#queryphys option:selected').val()	
	$.ajax({      		
		  url: "?",
		  type: "POST",
		  data : {'type': 'query', 'doc': doc, },       
		  success: function(data) {	   
		   $('#demand').text(data.dem);  
		   $('#olddemand').text(data.olddem);
		   $('#demandchange').text(data.demc);
		   $('#capacity').text(data.cap);
		   $('#waittime').text(data.wait);  
		   $('#waittimechange').text(data.waitc);
		  }
		});		
});
</script>

{% endblock %} 
